<div class="clearfix">
  <ul class="nav nav-pills center-block pull-right">
    <li class="<%= 'active' if action_name=='index' %>"><%= link_to "#{t 'breadcrumbs.admin.accounts.index'}", action: :index %> </li>
    <li class="<%= 'active' if action_name=='new' %>"><%= link_to "#{t 'breadcrumbs.admin.accounts.new'}", action: :new %> </li>
    <li class="<%= 'active' if action_name=='edit' %><%= 'hidden' if action_name != 'edit' %>"><%= link_to "#{t 'breadcrumbs.admin.accounts.edit'}" %> </li>
    <li class="<%= 'active' if action_name=='show' %><%= 'hidden' if action_name != 'show' %>"><%= link_to "#{t 'breadcrumbs.admin.accounts.show'}" %> </li>
    <li class="<%= 'active' if action_name=='new_detail' %><%= 'hidden' if action_name != 'new_detail' %>"><%= link_to "#{t 'breadcrumbs.admin.accounts.new_detail'}" %> </li>
  </ul>
</div>
<br>