<%= render 'nav' %>


<div>
  <canvas id="canvas" height="200" width="600"></canvas>
</div>
<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 50)
    };
    var lineChartData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: <%=  raw @last_details.to_json %>
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: <%=  raw @last_amounts.to_json %>
            }
        ]
    };

    $(function () {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx).Line(lineChartData, {
            responsive: true
        });
    })
</script>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Sum</th>
    <th>User</th>
    <th>Memo</th>
    <th>Purpose</th>
    <th>Account</th>
    <th>Amount</th>
  </tr>
  </thead>

  <tbody>
  <% @admin_account_details.each do |admin_account_detail| %>
      <tr>
        <td><%= admin_account_detail.title %></td>
        <td><%= admin_account_detail.sum %></td>
        <td><%= admin_account_detail.user.name %></td>
        <td><%= admin_account_detail.memo %></td>
        <td><%= admin_account_detail.purpose %></td>
        <td><%= admin_account_detail.account.title %></td>
        <td><%= admin_account_detail.amount %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>