<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_account_detail.title %>
</p>

<%= render 'nav' %>
<p>
  <strong>Sum:</strong>
  <%= @admin_account_detail.sum %>
</p>

<p>
  <strong>Type:</strong>
  <%= @admin_account_detail.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_account_detail.user %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @admin_account_detail.memo %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @admin_account_detail.purpose %>
</p>

<p>
  <strong>Account:</strong>
  <%= @admin_account_detail.account %>
</p>
