<%= simple_form_for([:admin, @admin_app], html: {class: 'form-horizontal', role: 'form'}) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, :wrapper => :horizontal_input, label_html: {class: 'col-sm-2'}, input_html: {class: 'form-control'} %>
    <%= f.input :access_key, :wrapper => :horizontal_input, label_html: {class: 'col-sm-2'}, input_html: {class: 'form-control'} %>
    <%= f.input :secret_key, :wrapper => :horizontal_input, label_html: {class: 'col-sm-2'}, input_html: {class: 'form-control'} %>
    <%= f.input :permission_level,
                :wrapper => :horizontal_input,
                label_html: {class: 'col-sm-2'},
                input_html: {class: 'form-control'}
    %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit, t('buttons.submit'), class: 'btn-default' %>
      </div>
    </div>
<% end %>