<%= render 'nav' %>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'simple_form.labels.app.name' %>:</strong>
  <%= @admin_app.name %>
</p>

<p>
  <strong><%= t 'simple_form.labels.app.access_key' %>:</strong>
  <%= @admin_app.access_key %>
</p>


<p>
  <strong><%= t 'simple_form.labels.app.permission_level' %>:</strong>
  <%= @admin_app.permission_level %>
</p>

<p>
  <strong><%= t 'simple_form.labels.app.enable' %>:</strong>
  <%= @admin_app.enable %>
</p>
