<%= render 'nav' %>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t 'simple_form.labels.user.email' %>:</strong>
  <%= @admin_user.email %>
</p>


<p>
  <strong><%= t 'simple_form.labels.user.name' %>:</strong>
  <%= @admin_user.name %>
</p>

<p>
  <strong><%= t 'simple_form.labels.user.nick' %>:</strong>
  <%= @admin_user.nick %>
</p>

<p>
  <strong><%= t 'simple_form.labels.user.birth' %>:</strong>
  <%= @admin_user.birth %>
</p>

<p>
  <strong><%= t 'simple_form.labels.user.address' %>:</strong>
  <%= @admin_user.address %>
</p>

<p>
  <strong><%= t 'simple_form.labels.user.admin' %>:</strong>
  <%= @admin_user.admin %>
</p>
<p>
  <strong><%= t 'simple_form.labels.user.phone' %>:</strong>
  <%= @admin_user.phone %>
</p>

