<!DOCTYPE html>
<html>
<head>
  <title>LemonBaseSystemmanager</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="admin_page">
  <!--<header></header>-->
  <div class="container">
    <section class="row">
      <div class="col-sm-2">
        <div style="height: 200px; font-size: 150px; margin:0 0 0px 20px; color:#FFCC00 "><i class="fa fa-lemon-o"></i>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="<%= url_for controller: '/admin', action: :index %>">
              <%= t 'nav.home_label' %>
            </a>
          </li>
          <li>
            <a href="<%= url_for controller: 'admin/apps', action: :index %>">
              <span class="badge pull-right">42</span>
              <%= t 'nav.app_label' %>
            </a>
          </li>
          <li>
            <a href="<%= url_for controller: 'admin/users', action: :index %>">
              <%= t 'nav.user_label' %>
            </a>
          </li>
          <li>
            <a href="#">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10 content">
        <%= yield %>
      </div>
    </section>
  </div>
</div>
</body>
</html>
