<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>LemonBase-Systemmanager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://libs.useso.com/js/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://libs.useso.com/js/modernizr/2.8.2/modernizr.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="admin_page">
  <!--<header></header>-->
  <div class="container">
    <section class="row">
      <div class="col-sm-2 sider">
        <div class="visible-lg-block admin_logo" style="font-size: 150px; ">
          <i class="fa fa-lemon-o"></i>
        </div>
        <div class="visible-md-block admin_logo" style="font-size: 130px;padding-top:20px; ">
          <i class="fa fa-lemon-o"></i>
        </div>
        <div class="visible-sm-block admin_logo" style=" font-size: 90px; padding-top:60px; ">
          <i class="fa fa-lemon-o"></i>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= 'active' if controller_name == 'admin' and action_name == 'index' %>">
            <a href="<%= url_for controller: '/admin', action: :index %>">
              <i class="fa fa-home fa-fw"></i> <%= t 'nav.home_label' %>
            </a>
          </li>
          <li class="<%= 'active' if controller_name == 'apps' %>">
            <a href="<%= url_for controller: 'admin/apps', action: :index %>">
              <span class="badge pull-right"><%= App.count %></span>
              <i class="fa fa-cubes fa-fw"></i> <%= t 'nav.app_label' %>
            </a>
          </li>
          <li class="<%= 'active' if controller_name == 'users' %>">
            <a href="<%= url_for controller: 'admin/users', action: :index %>">
              <span class="badge pull-right"><%= User.count %></span>
              <i class="fa fa-users fa-fw"></i> <%= t 'nav.user_label' %>
            </a>
          </li>
          <li>
            <a href="<%= root_path %>">
              <i class="fa fa-reply fa-fw"></i> <%= t 'nav.back_to_front' %>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10 content">
        <p class="text-right small"><i>Welcome!</i> <i class="fa-user fa fa-lg "></i> <%= current_user.name %>
          <a class="fa fa-sign-out fa-lg" href="<%= url_for admin_sign_out_path %>"></a></p>
        <%= render_breadcrumbs %>
        <%= yield %>
      </div>
    </section>
  </div>
</div>
</body>
</html>
