<!DOCTYPE html>
<html>
<head>
  <title>LemonBaseSystemmanager</title>
  <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css" >
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
  <script src="http://lib.sinaapp.com/js/bootstrap/latest/js/bootstrap.min.js"></script>
  <script src="http://upcdn.b0.upaiyun.com/libs/modernizr/modernizr-2.7.1.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="admin_page">
  <!--<header></header>-->
  <div class="container">
    <section class="row">
      <div class="col-sm-2 sider">
        <div style="height: 200px; font-size: 150px; margin:0 0 0px 20px; color:#FFCC00 "><i class="fa fa-lemon-o"></i>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= 'active' if controller_name == 'admin' and action_name == 'index' %>">
            <a href="<%= url_for controller: '/admin', action: :index %>">
              <%= t 'nav.home_label' %>
            </a>
          </li>
          <li class="<%= 'active' if controller_name == 'apps' %>">
            <a href="<%= url_for controller: 'admin/apps', action: :index %>">
              <span class="badge pull-right"><%= App.count %></span>
              <%= t 'nav.app_label' %>
            </a>
          </li>
          <li class="<%= 'active' if controller_name == 'users' %>">
            <a href="<%= url_for controller: 'admin/users', action: :index %>">
              <span class="badge pull-right"><%= User.count %></span>
              <%= t 'nav.user_label' %>
            </a>
          </li>
          <li>
            <a href="<%= home_index_url %>">
              <%= t 'nav.back_to_front' %>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10 content">
        <%= render_breadcrumbs %>
        <%= yield %>
      </div>
    </section>
  </div>
</div>
</body>
</html>
